.idea
**/.idea
target/
build/
logs/
bin-debug/
bin-release-temp/
#bin/
libs/
classes/
*.pbxuser
*.mode1v3
test-reports/*
.DS_Store
xcuserdata/
DerivedData/
*.iml
*.ipr
*.iws
**/.project
**/.settings
**/.classpath
.externalToolBuilders
.settings
.classpath
.project
*.class
*.log
